.my-div{
    margin: 50px 15px 15px 50px;
    background-color: #5078b0;
    border: 8px dotted white;
    
    
}

.my-div2{
    border: none;
    background-color: none;
}

.my-link
{
    margin-top: 30px;
    width: 70%;
    height: 60px;
    padding-top: 20px;
}

