.my-div{
    margin: 50px 15px 15px 50px;
    background-color: #2c2d2e;;
    border: 8px dotted white;
    
    
}

.my-div2{
    background-color: #4E4C67;
}

.my-link
{
    margin-top: 30px;
    width: 70%;
    height: 60px;
    padding-top: 20px;
}

