.mid-panel
{
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}


.mid-header
{
    height: 80px;
    margin-top: 20px;
    background-color: none;
    color: #4D7298;
}


.mid-body
{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    padding: 10px;
}

.empty-space
{
    color: #888;
    font-size: 20px;
}

.pdf-viewer
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pdf-toolbar
{
    margin-bottom: 16px;
    display: flex;
    gap:20px;
    align-items: center;
}

.page-indicator
{
    font-size: 20px;
    font-weight: 500;
}

.zoom-slider
{
    writing-mode: bt-lr;

}


.zoom-label
{
    min-width: 50px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}

.react-pdf__Page
{
    transition: transform 0.2s ease;
}

