.r-div
{
   display: flex;
   flex-direction: column; 
   height: 100%;
}

.chat-window
{
   flex:1;
   overflow-y: auto;
   padding: 16px;
}

.input-area
{
   display: flex;
   gap:10px;
   padding: 12px;
   border-top: 1px solid black;
   background: white;
}

.user-bubble
{
   background-color: #985F6F;
   color: #FFFFFF;
   border-bottom-right-radius: 4px;
}

.asst-bubble
{
   background-color: #B48694;
   color: #2e2e2e;
   border-bottom-left-radius: 4px;
}